body {
    background-color: #d2b48c;
    font-family: Arial, 'Times New Roman', sans-serif;
    margin: 0;
    padding: 0; 
}

h1, h2 {
    text-align: center;
    color: 'black'
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: 'gray';
    text-align: left;
}

#main-header {
    background-color: #704241;
    color: white;
    padding: 10px;
}

.content {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}
@media (max-width: 768px){
    body {
        font-size: 14px;
    }
    .content {
        flex-direction: column; /* stack sections vertically on small screens */
        padding: 10px;
    }

    img {
        max-width: 100%; /* scale images to fit screen */
        height: auto;
    }
}