body {
    background-color: 'white';
    font-family: Arial, 'Times New Roman', sans-serif;
    margin: 0;
    padding: 0; 
}

h1, h2 {
    text-align: center;
    color: 'black'
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: 'gray';
    text-align: left;
}

#main-header {
    background-color: 'black';
    color: white;
    padding: 10px;
}

.content {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}